
<!-- ============ NAVIGATION BAR SECTION =========== -->   

<nav id="navigation" class="navbar fixed-top navigation-init">
  <div class="nav-left">
    <a href="{% url 'home:home' %}" class="navbar-brand">
      <div class="d-flex flex-column p-0 text-center align-items-center">
        <img src="/static/images/alineter/alineter-b.png" id="brand-logo" width=47 height=47 alt="alineter logo"/>
        <small class="logo-text">ALINETER</small>
      </div>
    </a>
  </div>
  <div class="nav-right ml-auto">
    <ul class="d-flex my-auto" style="list-style:none">
      <li class="nav-item show-on-lg item-1 my-auto mr-1">
        <a href="{% url 'store:store' %}" class="nav-link">Store</a>
      </li>
      <li class="nav-item show-on-lg item-2 my-auto mr-1">
        <a href="{% url 'blog:blog' %}" class="nav-link">Blogs</a>
      </li>
      <li class="nav-item show-on-lg item-3 dropdown mr-2 my-auto">
        <button class="nav-link dropdown-toggler btn" id="more-section-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          More&nbsp;<span class="fa fa-caret-down"></span>
        </button>
        <div class="dropdown-menu shadow m-0 pl-0 pr-0" aria-labelledby="more-section-dropdown">
          <a class="nav-link dropdown-item" href="{% url 'company:about' %}"><span class="fa fa-address-card">&nbsp;</span>About Us</a>
          <a class="nav-link dropdown-item" href="{% url 'company:contact' %}"><span class="fa fa-paper-plane">&nbsp;</span>Contact Us</a>
          <a class="nav-link dropdown-item" href="{% url 'company:faq' %}"><span class="fa fa-question-circle">&nbsp;</span>FAQs</a>
          <a class="nav-link dropdown-item" href="{% url 'company:write_about_us' %}"><span class="fa fa-pencil">&nbsp;</span>Write About Us</a>
          <a class="nav-link dropdown-item" href="{% url 'policy:terms_condition' %}"><span class="fa fa-file">&nbsp;</span>Terms of Use</a>
          <a class="nav-link dropdown-item" href="{% url 'policy:ordering_terms' %}"><span class="fa fa-file">&nbsp;</span>Ordering Terms</a>
          <a class="nav-link dropdown-item" href="{% url 'policy:cancellation_refund' %}"><span class="fa fa-undo">&nbsp;</span>Cancellation & Refund</a>
          
          {% if not request.user.is_authenticated %}
            <a href="{% url 'auth:login' %}" class="nav-link dropdown-item"><span class="fa fa-sign-in">&nbsp;</span>Login</a>
          {% else %}
            <a href="#logout-modal" class="nav-link dropdown-item" data-toggle="modal"><span class="fa fa-sign-out">&nbsp;</span>Logout</a>
          {% endif %}
        
        </div>
      </li>
      <li class="nav-item mr-3 my-auto user-func">
        <div class="d-flex">
          
          {% if not request.user.is_authenticated %}
            <a href="{% url 'auth:signup' %}" class="btn btn-o-tertiary ripple-opacity-l rounded pl-4 pr-4">Sign Up</a>
          {% else %}
            <!-- when user is logged in -->
            <a href="{% url 'account:account' %}" class="nav-link">
              <span class="fa fa-user-circle-o txt-tertiary" style="font-size:1.3rem"></span>
            </a>

            <a href="" class="nav-link">
              <span class="fa fa-opencart txt-tertiary">&nbsp;<span>0</span></span>
            </a>
          {% endif %}

        </div>
      </li> 
      <li class="nav-item show-on-sm my-auto">
        <button type="button" class="btn toggler-btn ripple-opacity-d" onclick="opennav()">
          <div class="bar bar-1"></div>
          <div class="bar bar-2"></div>
        </button> 
      </li>
    </ul>
  </div>

</nav>


<!-- ======== SLIDE NAVIGATION ========== -->

<section id="slide-navigation">
  <div class="container-fluid w-100 h-100 position-relative">
    <div class="slidenav-wrapper w-100">

      <div class="user-section text-center sticky-top fill-tertiary txt-light">

        <div class="user-section-main">
          <!--Nav Controller-->
          <div class="nav-controller">
              <button onclick="closenav()" class="btn close-sidenav"><span class="fa fa-times"></span></button>
          </div>

          <div class="user-section-wrapper">
            <div class="user-info d-flex flex-column">
              <div class="mr-3 my-auto pfimg-holder">

                  <img 
                    src="{% if not request.user.is_authenticated or not request.user.customer.profile_pic %}/static/images/alineter/avatar/avatar.png{% else %}/static{{ request.user.customer.profile_pic.url }}{% endif %}" class="pfImg img-cover" alt="{% if not request.user.is_authenticated %}Alineter avatar img{% else %}{{ request.user.username }} profile-pic{% endif %}" />

              </div>
              <div class="my-auto">
                
                <p class="lead txt-light user-name">Hey,&nbsp; 
                  {% if not request.user.is_authenticated or not request.user.first_name %}
                    User
                  {% else %}
                    {{ request.user.first_name }}
                  {% endif %}
                </p>
                
              </div>
            </div>
            <div class="user-function">
              <div class="d-flex justify-content-between">
                
                {% if not request.user.is_authenticated %}
                  <a href="{% url 'auth:signup' %}" class="user-function--link fancy-effects slide_line"><span class="fa fa-id-badge"></span>&nbsp;Create Account</a>
                  <a href="{% url 'auth:login' %}" class="user-function--link fancy-effects slide_line"><span class="fa fa-sign-in"></span>&nbsp;Login</a>
                {% else %}
                  <a href="{% url 'account:account' %}" class="user-function--link fancy-effects slide_line"><span class="fa fa-user"></span>&nbsp;My Account</a>
                  <a href="#logout-modal" class="user-function--link fancy-effects slide_line" data-toggle="modal"><span class="fa fa-sign-in"></span>&nbsp;Logout</a>
                {% endif %}

              </div>
            </div>
          </div>
        </div>

      </div>        

      <div class="site-links p-0 pb-5">
        <a href="{% url 'home:home' %}" class="nav-link"><span class="fa fa-home"></span>&nbsp;&nbsp;Home</a>
        <a href="{% url 'store:store' %}" class="nav-link"><span class="fa fa-shopping-bag"></span>&nbsp;&nbsp;Store</a>
        <a href="{% url 'blog:blog' %}" class="nav-link"><span class="fa fa-picture-o"></span>&nbsp;&nbsp;Blogs</a>
        <a href="{% url 'company:about' %}" class="nav-link"><span class="fa fa-address-card"></span>&nbsp;&nbsp;About Us</a>
        <a href="{% url 'company:contact' %}" class="nav-link"><span class="fa fa-paper-plane"></span>&nbsp;&nbsp;Contact Us</a>
        <a href="{% url 'company:faq' %}" class="nav-link"><span class="fa fa-question-circle"></span>&nbsp;&nbsp;FAQ</a>
        <a href="{% url 'company:write_about_us' %}" class="nav-link"><span class="fa fa-pencil"></span>&nbsp;&nbsp;Write About Us</a>
        <a href="{% url 'policy:terms_condition' %}" class="nav-link"><span class="fa fa-file"></span>&nbsp;&nbsp;Terms of Use</a>
        <a href="{% url 'policy:ordering_terms' %}" class="nav-link"><span class="fa fa-file"></span>&nbsp;&nbsp;Ordering Terms</a>
        <a href="{% url 'policy:cancellation_refund' %}" class="nav-link"><span class="fa fa-undo"></span>&nbsp;&nbsp;Cancellation & Refund</a>
      </div>
    </div>
  </div>
</section>

<!-- OVERLAY EFFECT NAVIGATION -->
<section id="overlay-effect" onclick="closenav()">
</section>


{% if request.user.is_authenticated %}
  <!-- Logout modal -->
  <div class="modal fade" id="logout-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <p><b>Are you sure you want to logout?</b></p>
          <div class="text-left">
            <a href="{% url 'auth:logout' %}" class="btn btn-i-primary"><span class="fa fa-sign-in">&nbsp;</span>Logout</a>
            <button type="button" class="btn btn-o-light ml-2" data-dismiss="modal"><span>&times;&nbsp;</span>Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}

<!--

store page

-->