
{% extends 'home/base.html' %}

{% load static %}



{% block title %}
  
  <title>Set Profile Pic | Alineter</title>

{% endblock title %}



{% block seo_metatag %}
  <meta name="description" content="This online SEO cheat sheet lists everyting to rank first...">
  <meta name="keywords" content="seo,cheat,sheet">

  <meta property="og:site_name" content="Alineter">
  <meta property="og:title" content="0.1 seconds is all it takes">
  <meta property="og:description" content="What are the things people notice first to form a quick opinion on you? Here's your answer">
  <meta property="og:url" content="https://www.colbyfayock.com/2020/03/anyone-can-map-inspiration-and-an-introduction-to-the-world-of-mapping/">
  <meta property="og:type" content="article">

  <meta property="article:publisher" content="https://www.alineter.com"/>
  <meta property="article:section" content="Trending Design"/>
  <meta property="article:tag" content="Fashion"/>
  <meta property="article:published_time" content="2021-03-12T00:01:56+00:00" />
  <meta property="article:author" content="Sanmay Biswal"/>

  <meta property="og:image" content="https://mohit9090.github.io/alineter/images/blog-img--1.webp">
  <meta property="og:image:secure_url" content="https://mohit9090.github.io/alineter/images/blog-img--1.webp">
  <meta property="og:image:width" content="1280">
  <meta property="og:image:height" content="640">

  <meta property="twitter:card" content="What are the things people notice first to form a quick opinion on you? Here's your answer" />
  <meta property="twitter:image" content="https://mohit9090.github.io/alineter/images/blog-img--1.webp" />
  <meta property="twitter:site" content="ALINETER" />
{% endblock seo_metatag %}



{% block css_link %}

  <link rel="stylesheet" type="text/css" href="{% static 'css/authenticate.css' %}?{% now 'U' %}">

{% endblock css_link %}



{% block page_content %}

  <section id="profile-pic" class="w-100 auth-section">
    <div class="container normal-wrapper">
      <div class="card auth-card mx-auto border-0 verification-card" style="">
        
        <div class="card-header text-center border-0">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{% if message.tags %}{{ message.tags }}{% else %}info{% endif %}">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          <h3 class="auth-title">Change Profile Photo</h3>
        </div>

        <div class="card-body mx-auto w-100">

          <div class="col-12">
            
            <div class="upper-section">
              <div class="pfimg-holder mx-auto">
                <img src="/static/images/alineter/avatar.png" class="pfImg img-cover" id="display-pfImage" onclick="document.getElementById('profile-img').click()"/>
              </div>
              <div class="text-center"> 
                <small class="help-text font-weight-bold" id="upload-helptext" data-toggle="tooltip" data-placement="bottom"></small>
              </div>
            </div>

            <div class="lower-section">
              <form method="post" action="{% url 'auth:set_profile_pic' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="d-flex flex-column">
                  
                  <div class="custom-file d-none mr-1">
                    <input type="file" class="custom-file-input" name="profile-img" id="profile-img" onchange="return validateImage()">
                    <label class="custom-file-label auth-label" for="profile-img">No Image</label>
                  </div>

                  <div class="normal-wrapper mx-auto text-center">
                    <button type="submit" class="btn upload-media-submit skip w-100 auth-label ripple-opacity-l">
                      <div class="d-flex justify-content-center">
                        <span>Skip & Continue</span>
                      </div>
                    </button>
                  </div>

                </div>
              </form>
            </div>

          </div>        

        </div>

      </div>
    </div>
  </section>

  <script type="text/javascript">
    
    const uploadBtn = document.querySelector('.upload-media-submit');
    
    uploadBtn.addEventListener('click', function() {
      uploadBtn
      .querySelector('.d-flex')
      .insertAdjacentHTML('beforeend', `<div class="spinner-border text-light spinner-border-sm my-auto ml-2"></div>`);
    })

  </script>

{% endblock page_content %}



{% block js_script_link %}

  <script type="text/javascript" src="{% static 'js/set-pfpic.js' %}?{% now 'U' %}"></script>

  <script type="text/javascript">
    const scrollBtn = document.querySelectorAll(".scroll-btn");
      
    let isMobile = detectMob();
    isMobile ? addMobile__Class([...scrollBtn]) : removeMobile__Class([...scrollBtn]);
  </script>

{% endblock js_script_link %}

