{% extends 'home/base.html' %}

{% load static %}



{% block title %}

  <title>Signup | Alineter</title>

{% endblock title %}



{% block seo_metatag %}
  <meta name="description" content="This online SEO cheat sheet lists everyting to rank first...">
  <meta name="keywords" content="seo,cheat,sheet">

  <meta property="og:site_name" content="Alineter">
  <meta property="og:title" content="0.1 seconds is all it takes">
  <meta property="og:description" content="What are the things people notice first to form a quick opinion on you? Here's your answer">
  <meta property="og:url" content="https://www.colbyfayock.com/2020/03/anyone-can-map-inspiration-and-an-introduction-to-the-world-of-mapping/">
  <meta property="og:type" content="article">

  <meta property="article:publisher" content="https://www.alineter.com"/>
  <meta property="article:section" content="Trending Design"/>
  <meta property="article:tag" content="Fashion"/>
  <meta property="article:published_time" content="2021-03-12T00:01:56+00:00" />
  <meta property="article:author" content="Sanmay Biswal"/>

  <meta property="og:image" content="https://mohit9090.github.io/alineter/images/blog-img--1.webp">
  <meta property="og:image:secure_url" content="https://mohit9090.github.io/alineter/images/blog-img--1.webp">
  <meta property="og:image:width" content="1280">
  <meta property="og:image:height" content="640">

  <meta property="twitter:card" content="What are the things people notice first to form a quick opinion on you? Here's your answer" />
  <meta property="twitter:image" content="https://mohit9090.github.io/alineter/images/blog-img--1.webp" />
  <meta property="twitter:site" content="ALINETER" />
{% endblock seo_metatag %}



{% block css_link %}

  <link rel="stylesheet" type="text/css" href="{% static 'css/authenticate.css' %}?{% now 'U' %}">

{% endblock css_link %}



{% block page_content %}

  <section id="sign-up" class="w-100 auth-section">
    <div class="container-fluid w-100">
      <div class="normal-wrapper auth-card mx-auto border rounded">

        <!-- After Registration --> 
        <div class="container text-center after-registration" id="after-registration">
          <div class="my-auto">
            <h5 class="loading-img small-title auth-label">Verifying Details</h5>

            <div class="w-100 cube-spinner-md">
              <div class="spinner">
                <div class="cube cube-1"></div>
                <div class="cube cube-2"></div>
              </div>
            </div>

          </div>
        </div>

        <form id="user-registration-form" action="verify-account.html" method="post">

          <div class="mb-3 d-flex flex-column justify-content-center">
            <h2 class="text-center auth-title">Registration Page</h2>
            <!-- Circles which indicates the steps of the form: -->
            <div class="step-marker">
              <div style="text-align:center">
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
              </div>
            </div>
          </div><hr>

          <!-- Tab 1 -->
          <div class="tab form-group">
            <div class="d-flex flex-column mb-3 input-wrapper">
              <label for="user-fName" class="font-weight-bold auth-label">First Name</label>
              <input type="text" class="input--s2 w-100 auth-input" name="user-fName" id="user-fName" placeholder="Mohit" autocomplete="off" spellcheck="false" required onkeyup="ifValid(this, 0)" data-tab="0" >
              <small class="help-text"></small>
            </div>

            <div class="d-flex flex-column mb-3 input-wrapper">
              <label for="user-lName" class="font-weight-bold auth-label">Last Name</label>
              <input type="text" class="input--s2 w-100 auth-input " name="user-lName" id="user-lName" placeholder="Kumar" autocomplete="off" spellcheck="false" required onkeyup="ifValid(this, 0)" data-tab="0" >
              <small class="help-text"></small>
            </div>

            <div class="d-flex flex-column input-wrapper">
              <label for="user-mobileNum" class="font-weight-bold auth-label">Mobile Number</label>
              <input type="number" class="input--s2 w-100 auth-input " name="user-mobileNum" id="user-mobileNum" placeholder="8480743694" required min=0 onkeyup="ifValid(this, 6)" data-tab="0" >
              <small class="help-text"></small>
            </div>
          </div>

          <!-- Tab 2 -->
          <div class="tab form-group">
            <div class="d-flex flex-column mb-3 input-wrapper">
              <label for="user-email" class="font-weight-bold auth-label">Email</label>
              <input type="email" class="input--s2 w-100 auth-input " name="user-email" id="user-email" placeholder="mohit8756kumar@gmail.com" required spellcheck="false" autocomplete="off" onkeyup="ifValid(this, 2)" data-tab="1" >
              <small class="help-text"></small>
            </div>
            
            <div class="d-flex flex-column mb-3 input-wrapper">
              <label for="user-password" class="font-weight-bold auth-label">Password</label>
              <div class="d-flex">
                <input type="password" class="input--s2 w-100 auth-input password " name="user-password" id="user-password" placeholder="Password" required spellcheck="false" onkeyup="ifValid(this, 3)" data-tab="1" >
                <div class="input-group-append" style="z-index:0">
                  <button type="button" class="btn toggle-pwd-eye" id="toggleUserPwd" onclick="togglePwdVisibility(this, 'user-password')"><i class="fa fa-eye-slash"></i></button>
                </div>
              </div>
              <small class="help-text txt-grey">
                <div class="d-flex">
                  <ul>
                    <li class="pwd-requirement" id="lowerLetter">A Lower Letter</li>
                    <li class="pwd-requirement" id="capitalLetter">A Capital Letter</li>
                  </ul>
                  <ul>
                    <li class="pwd-requirement" id="number">A Number</li>
                    <li class="pwd-requirement" id="minPwdLength">Minimum 8 characters</li>
                  </ul>
                </div>
              </small>
            </div>

            <div class="d-flex flex-column input-wrapper">
              <label for="user-password" class="font-weight-bold auth-label">Confirm Password</label>
              <div class="d-flex">
                <input type="password" class="input--s2 w-100 auth-input password " name="confirm-password" id="confirm-password" placeholder="Confirm Password" required spellcheck="false" onkeyup="ifValid(this, 4)" data-tab="1" disabled >
                <div class="input-group-append" style="z-index:0">
                  <button type="button" class="btn toggle-pwd-eye" id="toggleRecheckPwd" onclick="togglePwdVisibility(this, 'confirm-password')"><i class="fa fa-eye-slash"></i></button>
                </div>
              </div>
              <small class="help-text"></small>
            </div>

          </div>

          <!-- Tab 3 -->
          <div class="tab form-group">

            <div class="d-flex mb-3 w-100 justify-content-between">

              <div class="d-flex flex-column input-wrapper ml-1" style="width:48%">
                <label for="user-country" class="font-weight-bold auth-label">Country</label>
                <input type="text" class="input--s2 auth-input fulfilled--all text-capitalize" id="user-country" name="user-country" value="India" readonly data-tab="2" data-fulfill="true">
                <small class="help-text text-primary">We deliver only in India</small>
              </div>         

              <div class="d-flex flex-column input-wrapper mr-1" style="width:47%">
                <label for="user-state" class="font-weight-bold auth-label">State</label>
                <select class="d-none input--s2 w-100 fulfilled--all auth-input" id="user-state" name="user-state" value="Odisha" data-tab="2" data-fulfill="true">
                 <!--  <option value="Odisha">Odisha</option>
                  <option value="West Bengal">West Bengal</option>
                  <option value="Andhra Pradesh">Andhra Pradesh</option>
                  <option value="Chhattisgarh">Chhattisgarh</option> -->
                </select>

                <div class="states-dropdown w-100">
                  <button type="button" class="btn states-dropbtn d-flex fulfilled--all justify-content-between" onclick="showStates()" data-tab="2">
                    <span class="state-display-value">Odisha</span>
                    <i class="fa fa-caret-down align-self-center"></i>
                  </button>
                  <div class="states-content hide" id="states-content">
                    <a href="javascript:void(0)" class="state" value="Odisha" onclick="setState(this)">Odisha</a>
                    <a href="javascript:void(0)" class="state" value="West Bengal" onclick="setState(this)">West Bengal</a>
                    <a href="javascript:void(0)" class="state" value="Andhra Pradesh" onclick="setState(this)">Andhra Pradesh</a>
                    <a href="javascript:void(0)" class="state" value="Chhattisgarh" onclick="setState(this)">Chhattisgarh</a>
                  </div>
                </div>
                <small class="help-text text-primary">Available States</small>
              </div>

            </div>

            <div class="d-flex mb-3 w-100 justify-content-between">
              <div class="d-flex flex-column input-wrapper mr-1" style="width:49%">
                <label for="user-city" class="font-weight-bold auth-label">City</label>
                <input type="text" class="input--s2 auth-input" id="user-city" name="user-city" placeholder="Bhubaneswar" required onkeyup="ifValid(this, 0)" data-tab="2" >
                <small class="help-text"></small>
              </div>
              <div class="d-flex flex-column input-wrapper ml-1" style="width:49%">
                <label for="user-pincode" class="font-weight-bold auth-label">Pincode</label>
                <input type="text" class="input--s2 auth-input" id="user-pincode" name="user-pincode" placeholder="751003" required onkeyup="ifValid(this, 7)" data-tab="2" >
                <small class="help-text"></small>
              </div>
            </div>

            <div class="d-flex flex-column input-wrapper mb-3">
              <label for="user-street-address" class="font-weight-bold auth-label">Street Address</label>
              <textarea class="textarea--s1 w-100 auth-input" rows=3 placeholder="1136/8591, PATITAPABAN NAGAR, CANAL ROAD, Kalpana Rd" id="user-street-address" name="user-street-address" spellcheck="false" required onkeyup="ifValid(this, 0)" data-tab="2" ></textarea>
              <small class="help-text"></small>
            </div>

            <div class="d-flex input-wrapper">
              <div class="form-check">
                <input class="form-check-input auth-input" type="checkbox" name="accept-tnc" id="accept-tnc" onclick="ifValid(this, 5)" data-tab="2" required >
                <label class="form-check-label auth-label" for="accept-tnc">
                  I accept to the <a href="{% url 'policy:terms_condition' %}">Terms and Conditions</a>
                </label>
              </div>
              <small id="help-text"></small>
            </div>

          </div>
          
          <div class="controller" id="controllers">
            <div style="overflow:auto;">
              <div style="float:right;">
                <button type="button" id="prevBtn" class="btn prevNextBtn auth-btn mr-1 ripple-opacity-l" onclick="nextPrev(-1)">Previous</button>
                <button type="button" id="nextBtn" class="btn prevNextBtn auth-btn ripple-opacity-l" onclick="nextPrev(1)">Next</button>
              </div>
            </div><hr>
            <div class="d-flex justify-content-end">
              <small class="float-right"><a href="{% url 'auth:login' %}" class="card-link">Already an User?</a></small>
            </div>
          </div>
        
        </form>
      </div>
    </div>        
  </section>

{% endblock page_content %}



{% block js_script_link %}

  <script type="text/javascript" src="{% static 'js/signup.js' %}?{% now 'U' %}"></script>

  <script type="text/javascript">
    const scrollBtn = document.querySelectorAll(".scroll-btn");
    const stateDropContentBtn = document.querySelectorAll(".state");
      
    let isMobile = detectMob();
    isMobile ? addMobile__Class([...scrollBtn, ...stateDropContentBtn]) : removeMobile__Class([...scrollBtn, ...stateDropContentBtn]);
  </script>

{% endblock js_script_link %}
