
{% extends 'home/base.html' %}

{% load static %}



{% block title %}

  <title>OTP Verification | Alineter</title>

{% endblock title %}



{% block seo_metatag %}
  <meta name="description" content="This online SEO cheat sheet lists everyting to rank first...">
  <meta name="keywords" content="seo,cheat,sheet">

  <meta property="og:site_name" content="Alineter">
  <meta property="og:title" content="0.1 seconds is all it takes">
  <meta property="og:description" content="What are the things people notice first to form a quick opinion on you? Here's your answer">
  <meta property="og:url" content="https://www.colbyfayock.com/2020/03/anyone-can-map-inspiration-and-an-introduction-to-the-world-of-mapping/">
  <meta property="og:type" content="article">

  <meta property="article:publisher" content="https://www.alineter.com"/>
  <meta property="article:section" content="Trending Design"/>
  <meta property="article:tag" content="Fashion"/>
  <meta property="article:published_time" content="2021-03-12T00:01:56+00:00" />
  <meta property="article:author" content="Sanmay Biswal"/>

  <meta property="og:image" content="https://mohit9090.github.io/alineter/images/blog-img--1.webp">
  <meta property="og:image:secure_url" content="https://mohit9090.github.io/alineter/images/blog-img--1.webp">
  <meta property="og:image:width" content="1280">
  <meta property="og:image:height" content="640">

  <meta property="twitter:card" content="What are the things people notice first to form a quick opinion on you? Here's your answer" />
  <meta property="twitter:image" content="https://mohit9090.github.io/alineter/images/blog-img--1.webp" />
  <meta property="twitter:site" content="ALINETER" />
{% endblock seo_metatag %}



{% block css_link %}

  <link rel="stylesheet" type="text/css" href="{% static 'css/authenticate.css' %}?{% now 'U' %}">

{% endblock css_link %}



{% block page_content %}

  <section id="verify-otp" class="w-100 auth-section">
    <div class="container normal-wrapper">
      <div class="card auth-card border-0 mx-auto verification-card" style="">
        <div class="card-header text-center border-0">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{% if message.tags %}{{ message.tags }}{% else %}info{% endif %}">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          <img src="/static/images/alineter/verification.png" class="img-fluid" width=130 height=130>
          <p class="card-title lead">Enter the OTP sent to <strong class="verify-email">{% if verify_email %}{{ verify_email }}{% endif %}</strong></p>
          <p><b>Your OTP is {{ otp }}</b>(Testing purpose only)</p>
        </div>
        <div class="card-body normal-wrapper mx-auto p-0">
          <form method="post" action="{% url 'auth:otp_verification' %}" id="otp-form">
            {% csrf_token %}
            <div class="form-group">
              <div class="d-flex flex-column">
                <input type="number" class="input--s1 auth-input otp" name="otp" id="otp-input" required autocomplete="off" onkeypress="return !(this.value.length > 4)" placeholder="XXXXX"><br>
                <small class="txt-grey text-center">
                  <span class="timer">02:00</span>
                  <span>Didn't receive the OTP? </span>
                  <a href="{% url 'auth:otp_verification' %}?r=t" class="card-link"><strong>Resend OTP</strong></a>
                </small><br>
                <button type="button" class="btn auth-btn ripple-opacity-l verification-btn">
                  <div class="d-flex justify-content-center">
                    <span>Verify</span>
                  </div>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <script type="text/javascript">
    
    const verifyBtn = document.querySelector('.verification-btn');
    const form = document.getElementById('otp-form');
    const otpInput = document.getElementById('otp-input');

    verifyBtn.addEventListener('click', function(e) {
      e.preventDefault();
      if (otpInput.value.length === 5) {
        verifyBtn
          .querySelector('.d-flex')
          .insertAdjacentHTML('beforeend', `<div class="spinner-border text-light spinner-border-sm my-auto ml-2"></div>`);
        
        form.submit();
      }
    })

    document.body.addEventListener('keydown', function(e) {
      
      if (e.keyCode === 13) {
        e.preventDefault();
        if (otpInput.value.length === 5) verifyBtn.click();
        return false;
      }
    })

  </script>

  {% if verification_status %}
    {% if verication_status == fail %}

      
      <div class="modal fade" id="message-modal">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <div class="alert alert-danger w-100">
                Verifcation {{ verification_status|capfirst }}
              </div>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p class="lead">OTP didn't match with the one we have sent to you.</p>
              <a href="{% url 'auth:otp_verification' %}?r=t" class="card-link float-right">Resend OTP</a>
            </div>
          </div>
        </div>
      </div>

      <script type="text/javascript">
        $("#message-modal").modal('show');
      </script>

    {% endif %}
  {% endif %}


  <script type="text/javascript">

    const timeLabel = document.querySelector('.timer');
    
    const startLogoutTimer = function(time) {
      
      const ticktock = function() {
        
        const min = String(Math.trunc(time / 60)).padStart(2, 0);
        const sec = String(time % 60).padStart(2, 0);
        const timeStr = `${min}:${sec}`;
        
        timeLabel.textContent = timeStr;

        if (time === 0) {
          clearInterval(timer);
          setTimeout(function() {
            window.location.href = "{% url 'auth:delete_account' %}";
          }, 1000);
        }

        time--;
        
      };

      ticktock();
      const timer = setInterval(ticktock, 1000);
    };

    window.addEventListener('load', function() {
      startLogoutTimer(90);
    });

  </script>

{% endblock page_content %}



{% block js_script_link %}


  <script type="text/javascript">
    const scrollBtn = document.querySelectorAll(".scroll-btn");
      
    let isMobile = detectMob();
    isMobile ? addMobile__Class([...scrollBtn]) : removeMobile__Class([...scrollBtn]);
  </script>

{% endblock js_script_link %}
