{% extends 'home/base.html' %}

{% load static %}



{% block title %}

  <title>Contact Us | ALINETER</title>

{% endblock title %}



{% block seo_metatag %}
  <meta name="description" content="This online SEO cheat sheet lists everyting to rank first...">
  <meta name="keywords" content="seo,cheat,sheet">

  <meta property="og:site_name" content="Alineter">
  <meta property="og:title" content="0.1 seconds is all it takes">
  <meta property="og:description" content="What are the things people notice first to form a quick opinion on you? Here's your answer">
  <meta property="og:url" content="https://www.colbyfayock.com/2020/03/anyone-can-map-inspiration-and-an-introduction-to-the-world-of-mapping/">
  <meta property="og:type" content="article">

  <meta property="article:publisher" content="https://www.alineter.com"/>
  <meta property="article:section" content="Trending Design"/>
  <meta property="article:tag" content="Fashion"/>
  <meta property="article:published_time" content="2021-03-12T00:01:56+00:00" />
  <meta property="article:author" content="Sanmay Biswal"/>

  <meta property="og:image" content="https://mohit9090.github.io/alineter/images/blog-img--1.webp">
  <meta property="og:image:secure_url" content="https://mohit9090.github.io/alineter/images/blog-img--1.webp">
  <meta property="og:image:width" content="1280">
  <meta property="og:image:height" content="640">

  <meta property="twitter:card" content="What are the things people notice first to form a quick opinion on you? Here's your answer" />
  <meta property="twitter:image" content="https://mohit9090.github.io/alineter/images/blog-img--1.webp" />
  <meta property="twitter:site" content="ALINETER" />
{% endblock seo_metatag %}



{% block css_link %}

  <link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}?{% now 'U' %}">

{% endblock css_link %}



{% block page_content %}

  <section id="contact-us" class="w-100 scroll-reveal-content">
        
    <div class="overlay-bg"></div>
    
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 order-lg-1 order-md-1 order-sm-2 left reach-us">
          <div class="container-fluid reach-us-wrapper reveal__from-top">
            <div class="company-direction-map load-gradient">

               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3742.6132635498093!2d85.8593507142207!3d20.27486778641156!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a19a1971bb4bf43%3A0x6e27b0b1679143be!2sAlineter%20Lifestyle%20Industry%20Private%20Limited!5e0!3m2!1sen!2sin!4v1618118704150!5m2!1sen!2sin" width="100%" height="670" style="border:0;" allowfullscreen="true" loading="lazy" class="gmap_canvas"  onload="this.parentElement.classList.remove('load-gradient')"></iframe>

            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 order-lg-2 order-md-2 order-sm-1 right contact-us">
          <div class="d-flex flex-column contact-us-wrapper">
            
            <div class="head">
              <h1 class="reveal__from-bottom">Contact Us</h1>
            </div><br>
            
            <div class="support-detail">
              <p class="lead address reveal__from-bottom">{{ address }}</p>

              <p class="lead mail-support reveal__from-bottom">
                <a href="mailto:{{ support_email.email }}">{{ support_email.email }}</a>
              </p>

              <p class="lead telephone-support reveal__from-bottom">
                <a href="tel:+91 {{ telephone.telephone }}"></a>
              </p>
              <script type="text/javascript">
                const tel = '{{ telephone.telephone }}';
                const formatTelephone = `+91 ${tel.slice(0, 5)} ${tel.slice(5)}`;
                document.querySelector('.telephone-support a').textContent = formatTelephone;
              </script>
            </div>
            
            <div class="mail-us">
              {% if not messages %}
                <form method="post" action="{% url 'company:contact' %}" id="contact-us-form">
                  {% csrf_token %}
                  <div class="d-flex flex-column">
                    <div class="reveal__from-bottom">
                      {% if not request.user.is_authenticated %}
                        <input type="text" name="mailer-name" class="user-input input--s2 w-100" placeholder="Name Surname" spellcheck="false" onkeyup="ifValid(this, 0)" required/>
                      {% else %}
                        <input type="text" name="mailer-name" class="user-input input--s2 w-100 fulfilled--all" placeholder="Name Surname" spellcheck="false" onkeyup="ifValid(this, 0)" required value='{{ request.user.get_full_name }}' data-fulfill='true' readonly />
                      {% endif %}
                    </div><br>
                    <div class="reveal__from-bottom">
                      {% if not request.user.is_authenticated %}
                        <input type="email" name="mailer-email" class="user-input input--s2 w-100" placeholder="Email" spellcheck="false" onkeyup="ifValid(this, 2)" required/>
                      {% else %}
                        <input type="email" name="mailer-email" class="user-input input--s2 w-100 fulfilled--all" placeholder="Email" spellcheck="false" onkeyup="ifValid(this, 2)" required value='{{ request.user.email }}' data-fulfill='true' readonly />
                      {% endif %}
                    </div><br>
                    <div class="reveal__from-bottom">
                      <input type="text" name="mail-subject" class="user-input input--s2 w-100" placeholder="Subject" spellcheck="false" autocomplete="off" onkeyup="ifValid(this, 0)" required/>
                    </div><br>
                    <div class="reveal__from-bottom">
                      <textarea class="user-input textarea--s1 w-100 rounded-0" name="mail-content" spellcheck="false" rows=6 placeholder="Type your message here...." onkeyup="ifValid(this, 0)" required></textarea>
                    </div><br>
                    <div class="align-self-end reveal__from-bottom">
                      <button type="button" name="send-message" class="btn contact-btn btn-i-primary pt-2 pb-2 pl-4 pr-4 ripple-opacity-l" onclick="validate_contactpage()">
                        <div class="d-flex justify-content-center" id="contact-btn--div">
                          <span>Submit</span>
                        </div>
                      </button>
                    </div>
                  </div>
                </form>
              {% else %}
                {% for message in messages %}
                  <h1 class="txt-primary mt-5">{{ message }}</h1>
                {% endfor %}
              {% endif %}
            </div>
          
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock page_content %}



{% block js_script_link %}

  <script type="text/javascript">
    const scrollBtn = document.querySelectorAll(".scroll-btn");
      
    let isMobile = detectMob();
    isMobile ? addMobile__Class([...scrollBtn]) : removeMobile__Class([...scrollBtn]);
  </script>

  <script type="text/javascript" src="{% static 'js/contact.js' %}?{% now 'U' %}"></script>

{% endblock js_script_link %}