{% extends 'home/base.html' %}

{% load static %}



{% block title %}

  <title>Write About Us | Alineter</title>

{% endblock title %}



{% block seo_metatag %}
  <meta name="description" content="This online SEO cheat sheet lists everyting to rank first...">
  <meta name="keywords" content="seo,cheat,sheet">

  <meta property="og:site_name" content="Alineter">
  <meta property="og:title" content="0.1 seconds is all it takes">
  <meta property="og:description" content="What are the things people notice first to form a quick opinion on you? Here's your answer">
  <meta property="og:url" content="https://www.colbyfayock.com/2020/03/anyone-can-map-inspiration-and-an-introduction-to-the-world-of-mapping/">
  <meta property="og:type" content="article">

  <meta property="article:publisher" content="https://www.alineter.com"/>
  <meta property="article:section" content="Trending Design"/>
  <meta property="article:tag" content="Fashion"/>
  <meta property="article:published_time" content="2021-03-12T00:01:56+00:00" />
  <meta property="article:author" content="Sanmay Biswal"/>

  <meta property="og:image" content="https://mohit9090.github.io/alineter/images/blog-img--1.webp">
  <meta property="og:image:secure_url" content="https://mohit9090.github.io/alineter/images/blog-img--1.webp">
  <meta property="og:image:width" content="1280">
  <meta property="og:image:height" content="640">

  <meta property="twitter:card" content="What are the things people notice first to form a quick opinion on you? Here's your answer" />
  <meta property="twitter:image" content="https://mohit9090.github.io/alineter/images/blog-img--1.webp" />
  <meta property="twitter:site" content="ALINETER" />
{% endblock seo_metatag %}



{% block css_link %}
  
  <link rel="stylesheet" type="text/css" href="/static/css/policy-page.css?{% now 'U' %}">

{% endblock css_link %}



{% block page_content %}
  
  <section id="company-policy-wrapper" class="write-about-us w-100 scroll-reveal-content">
    <div class="container-fluid">

      <div class="secondary-wrapper mx-auto p-0">
        
        <div class="wba-container text-center">
          <div class="policy-head--s1 reveal__from-bottom">
            <h1>Write About Us</h1>
          </div>
        </div>

        <div class="wba-form-wrapper">
          <form id="wba-form" method="post" action=".">
            
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group reveal__from-bottom">
                  <label for="reviewer-name" class="auth-label">Your Name</label>
                  <input type="text" class="input--s2 w-100 auth-input reviewer-name" name="reviewer-name" id="reviewer-name" placeholder="Name Surname" required spellcheck="false" onkeyup="ifValid(this, 0)" maxlength="30">
                  <small class="help-text" for="reviewer-name"></small>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group reveal__from-bottom">
                  <label for="reviewer-email" class="auth-label">Your Email</label>
                  <input type="email" class="input--s2 w-100 auth-input reviewer-email" name="reviewer-email" id="reviewer-email" placeholder="mahitkumar166@gmail.com" required spellcheck="false" onkeyup="ifValid(this, 2)">
                  <small class="help-text" for="reviewer-email"></small>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <div class="form-group reveal__from-bottom">
                  <label for="reviewer-profilepic" class="auth-label">Profile Photo (optional)</label>
                  <input type="file" class="input--s2 w-100 auth-input reviewer-profilepic" name="reviewer-profilepic" id="reviewer-profilepic" onchange="validateImage(this)">
                  <small class="help-text" for="reviewer-profilepic">Allowed file format are jpg, jpeg and png</small>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <div class="form-group reveal__from-bottom">
                  <label for="reviewer-thought" class="auth-label">Your Experience with Us</label>
                  <textarea class="textarea--s1 w-100 auth-input reviewer-thought" rows=7 name="reviewer-thought" id="reviewer-thought" placeholder="In less than two small paragraphs, describe your expreience about using our website Alineter" required spellcheck="false" onkeyup="ifValid(this, 0)"></textarea>
                  <small class="help-text" for="reviewer-thought"></small>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <div class="form-group reveal__from-bottom text-center">
                  <label for="reviewer-rating" class="auth-label">Leave us a Rating</label>
                  <input type="number" class="input--s2 w-100 d-none auth-input" name="reviewer-rating" id="reviewer-rating" required>
                  <div class="rating-box mx-auto">
                    <div class="d-flex justify-content-center flex-wrap">
                      <i class="fa fa-star rating-icon" data-rating="1" onmouseover="starHover__on(this)" onmouseout="starHover__off(this)" onclick="selectStar(this)"></i>
                      <i class="fa fa-star rating-icon" data-rating="2" onmouseover="starHover__on(this)" onmouseout="starHover__off(this)" onclick="selectStar(this)"></i>
                      <i class="fa fa-star rating-icon" data-rating="3" onmouseover="starHover__on(this)" onmouseout="starHover__off(this)" onclick="selectStar(this)"></i>
                      <i class="fa fa-star rating-icon" data-rating="4" onmouseover="starHover__on(this)" onmouseout="starHover__off(this)" onclick="selectStar(this)"></i>
                      <i class="fa fa-star rating-icon" data-rating="5" onmouseover="starHover__on(this)" onmouseout="starHover__off(this)" onclick="selectStar(this)"></i>
                    </div>
                  </div>                      
                </div>
              </div>
            </div>

            <div class="row mt-5">
              <div class="col-12">
                <div class="form-group reveal__from-bottom text-center">
                  <button type="button" class="btn review-btn btn-i-primary w-50" onclick="validate_wbapage()">
                    <div class="d-flex justify-content-center" id="review-btn--div">
                      <span>Submit</span>
                    </div>
                  </button>
                </div>
              </div>
            </div>

          </form>              
        </div>

      </div>

    </div>
  </section>

{% endblock page_content %}



{% block js_script_link %}

  <script type="text/javascript" src="{% static 'js/wba.js' %}"></script>

  <script type="text/javascript">
    const scrollBtn = document.querySelectorAll(".scroll-btn");
      
    let isMobile = detectMob();
    isMobile ? addMobile__Class([...scrollBtn]) : removeMobile__Class([...scrollBtn]);
  </script>

{% endblock js_script_link %}