
{% extends 'home/base.html' %}

{% load static %}



{% block title %}

  <title>Terms & Conditions | Alineter</title>

{% endblock title %}



{% block seo_metatag %}

  <meta name="description" content="This online SEO cheat sheet lists everyting to rank first...">
  <meta name="keywords" content="seo,cheat,sheet">

  <meta property="og:site_name" content="Alineter">
  <meta property="og:title" content="0.1 seconds is all it takes">
  <meta property="og:description" content="What are the things people notice first to form a quick opinion on you? Here's your answer">
  <meta property="og:url" content="https://www.colbyfayock.com/2020/03/anyone-can-map-inspiration-and-an-introduction-to-the-world-of-mapping/">
  <meta property="og:type" content="article">

  <meta property="article:publisher" content="https://www.alineter.com"/>
  <meta property="article:section" content="Trending Design"/>
  <meta property="article:tag" content="Fashion"/>
  <meta property="article:published_time" content="2021-03-12T00:01:56+00:00" />
  <meta property="article:author" content="Sanmay Biswal"/>

  <meta property="og:image" content="https://mohit9090.github.io/alineter/images/blog-img--1.webp">
  <meta property="og:image:secure_url" content="https://mohit9090.github.io/alineter/images/blog-img--1.webp">
  <meta property="og:image:width" content="1280">
  <meta property="og:image:height" content="640">

  <meta property="twitter:card" content="What are the things people notice first to form a quick opinion on you? Here's your answer" />
  <meta property="twitter:image" content="https://mohit9090.github.io/alineter/images/blog-img--1.webp" />
  <meta property="twitter:site" content="ALINETER" />

{% endblock seo_metatag %}



{% block css_link %}

  <link rel="stylesheet" type="text/css" href="/static/css/policy-page.css?{% now 'U' %}">

{% endblock css_link %}



{% block page_content %}

<section id="company-policy-wrapper" class="company-policy-wrapper w-100 scroll-reveal-content">
  <div class="container-fluid">

    <div class="secondary-wrapper mx-auto p-0">

      <div class="policy-container terms-of-use">
        <div class="policy-head--s1 reveal__from-bottom">
          <h1>Terms of Use</h1>
        </div>
        <div class="policy-body">
          <p class="reveal__from-bottom">1. Terms
          By accessing the website at <a href="home.html" class="helpline">alineter.com</a>, you are agreeing to be bound by these terms of service, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website are protected by applicable copyright and trademark law.</p>
          
          <p class="reveal__from-bottom">2. Use License
            Permission is granted to temporarily download one copy of the materials (information or software) on ALINETER LIFESTYLE INDUSTRY PRIVATE LIMITED's website for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:</p>
            <ul class="reveal__from-bottom">
              <li>modify or copy the materials;</li>
              <li>use the materials for any commercial purpose, or for any public display (commercial or non-commercial);</li>
              <li>attempt to decompile or reverse engineer any software contained on ALINETER LIFESTYLE INDUSTRY PRIVATE LIMITED's website;</li>
              <li>remove any copyright or other proprietary notations from the materials; or</li>
              <li>transfer the materials to another person or "mirror" the materials on any other server.</li>
            </ul>
            <p class="reveal__from-bottom">This license shall automatically terminate if you violate any of these restrictions and may be terminated by ALINETER LIFESTYLE INDUSTRY PRIVATE LIMITED at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.</p>

            <p class="reveal__from-bottom">3. Disclaimer
            The materials on ALINETER LIFESTYLE INDUSTRY PRIVATE LIMITED's website are provided on an 'as is' basis. ALINETER LIFESTYLE INDUSTRY PRIVATE LIMITED makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties including, without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights.
          Further, ALINETER LIFESTYLE INDUSTRY PRIVATE LIMITED does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its website or otherwise relating to such materials or on any sites linked to this site.</p>

          <p class="reveal__from-bottom">4. Limitations
          In no event shall ALINETER LIFESTYLE INDUSTRY PRIVATE LIMITED or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use the materials on ALINETER LIFESTYLE INDUSTRY PRIVATE LIMITED's website, even if ALINETER LIFESTYLE INDUSTRY PRIVATE LIMITED or a ALINETER LIFESTYLE INDUSTRY PRIVATE LIMITED authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.</p>

          <p class="reveal__from-bottom">6. Links
          ALINETER LIFESTYLE INDUSTRY PRIVATE LIMITED has not reviewed all of the sites linked to its website and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by ALINETER LIFESTYLE INDUSTRY PRIVATE LIMITED of the site. Use of any such linked website is at the user's own risk.</p>

          <p class="reveal__from-bottom">7. Modifications
          ALINETER LIFESTYLE INDUSTRY PRIVATE LIMITED may revise these terms of service for its website at any time without notice. By using this website you are agreeing to be bound by the then current version of these terms of service.</p>

          <p class="reveal__from-bottom">8. Governing Law
          These terms and conditions are governed by and construed in accordance with the laws of Odisha and you irrevocably submit to the exclusive jurisdiction of the courts in that State or location.</p>
        </div>
      </div>

      <div class="policy-container privacy-policy">
        <div class="policy-head--s1 reveal__from-bottom">
          <h1>Privacy Policy</h1>
        </div>
        <div class="policy-body">
          <p class="reveal__from-bottom">Your privacy is important to us. It is ALINETER LIFESTYLE INDUSTRY PRIVATE LIMITED's policy to respect your privacy regarding any information we may collect from you across our website, <a href="home.html" class="helpline">alineter.com</a>, and other sites we own and operate.
            We only ask for personal information when we truly need it to provide a service to you. We collect it by fair and lawful means, with your knowledge and consent. We also let you know why we’re collecting it and how it will be used.
            We only retain collected information for as long as necessary to provide you with your requested service. What data we store, we’ll protect within commercially acceptable means to prevent loss and theft, as well as unauthorized access, disclosure, copying, use or modification.
            We don’t share any personally identifying information publicly or with third-parties, except when required to by law.
            Our website may link to external sites that are not operated by us. Please be aware that we have no control over the content and practices of these sites, and cannot accept responsibility or liability for their respective privacy policies.
            You are free to refuse our request for your personal information, with the understanding that we may be unable to provide you with some of your desired services.
          Your continued use of our website will be regarded as acceptance of our practices around privacy and personal information. If you have any questions about how we handle user data and personal information, feel free to contact us.
        This policy is effective as of 16 December 2020.</p>
        </div>
      </div>

    </div>

  </div>
</section>

{% endblock page_content %}



{% block js_script_link %}

<script type="text/javascript">
  const scrollBtn = document.querySelectorAll(".scroll-btn");
    
  let isMobile = detectMob();
  isMobile ? addMobile__Class([...scrollBtn]) : removeMobile__Class([...scrollBtn]);
</script>

{% endblock js_script_link %}